<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="images"
		label="Bilder"
		description="">
		<field
			name="image_path"
			type="text"
			size="50"
			default="stories/mitglieder"
			label="Bildverzeichnis-Pfad"
			description="&lt;strong&gt;Hinweis:&lt;/strong&gt;&lt;br /&gt;Der Pfad bezieht sich auf das Verzeichnis media der Joomla-Installation." />
		<field
			name="mitglied_thumb_width"
			type="number"
			size="50"
			default="180"
			label="Vorschaubild-Breite"
			description="Breite des Vorschaubildes eines Mitglieds in der Übersicht. Angabe in Pixel." />
		<field
			name="mitglied_thumb_height"
			type="number"
			size="50"
			default="240"
			label="Vorschaubild-Höhe"
			description="Höhe des Vorschaubildes eines Mitglieds in der Übersicht. Angabe in Pixel." />
		<field
			name="mitglied_image_size"
			type="number"
			size="50"
			default="300"
			label="Profilbild-Größe"
			description="Größe der Bilder auf der Detailseite des Mitglieds. Angabe in Pixel." />
		<field
			name="mitglied_thumb_placeholder"
			type="media"
			label="Vorschaubild-Platzhalter"
			description="Platzhalterbild für die Thumbnailanzeige, falls kein Bild vorhanden."
			directory="stories"
			preview="true" />
		<field
			name="thumbview_col_size"
			type="list"
			default="4"
			label="Spaltenzahl Thumbs"
			description="Anzahl der Bilder pro Zeile in der Thumbnailanzeige." >
			<option value="3">3-spaltig</option>
			<option value="4">4-spaltig</option>
			<option value="6">6-spaltig</option>
		</field>
	</fieldset>
	<fieldset name="deinstallation"
		label="Deinstallation"
		description="">
		<field
			name="delete_database"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="Datenbank löschen"
			description="Alle Daten dieser Komponente werden bei der Deinstallation gelöscht.">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="delete_pictures"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="Bilder löschen"
			description="Alle Bild der Mitglieder werden bei der Deinstallation vom Webserver gelöscht.">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
</config>
